
/*--  blackSwan  --*/   
@font-face {
    font-family:'blackSwan';
    src: url('../fonts/blackSwan/blackSwan.eot');
    src: url('../fonts/blackSwan/blackSwan.eot?#iefix') format('embedded-opentype'),
        url('../fonts/blackSwan/blackSwan.otf') format('otf'),
        url('../fonts/blackSwan/blackSwan.woff') format('woff'),
        url('../fonts/blackSwan/blackSwan.ttf') format('truetype'),
        url('../fonts/blackSwan/blackSwan.svg#blackSwan') format('svg'); 
}
/*--  blackSwan-bold  --*/   

@font-face {
    font-family:'blackSwan-bold';
    src: url('../fonts/blackSwan-bold/blackSwan-bold.eot');
    src: url('../fonts/blackSwan-bold/blackSwan-bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/blackSwan-bold/blackSwan-bold.otf') format('otf'),
        url('../fonts/blackSwan-bold/blackSwan-bold.woff') format('woff'),
        url('../fonts/blackSwan-bold/blackSwan-bold.ttf') format('truetype'),
        url('../fonts/blackSwan-bold/blackSwan-bold.svg#blackSwan-bold') format('svg'); 
}
/*--  montserrat-medium  --*/   
@font-face {
    font-family:'montserrat-medium';
    src: url('../fonts/montserrat-medium/montserrat-medium.eot');
    src: url('../fonts/montserrat-medium/montserrat-medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/montserrat-medium/montserrat-medium.otf') format('otf'),
        url('../fonts/montserrat-medium/montserrat-medium.woff') format('woff'),
        url('../fonts/montserrat-medium/montserrat-medium.ttf') format('truetype'),
        url('../fonts/montserrat-medium/montserrat-medium.svg#montserrat-medium') format('svg'); 
}
/*--  montserrat-light  --*/   
@font-face {
    font-family:'montserrat-light';
    src: url('../fonts/montserrat-light/montserrat-light.eot');
    src: url('../fonts/montserrat-light/montserrat-light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/montserrat-light/montserrat-light.otf') format('otf'),
        url('../fonts/montserrat-light/montserrat-light.woff') format('woff'),
        url('../fonts/montserrat-light/montserrat-light.ttf') format('truetype'),
        url('../fonts/montserrat-light/montserrat-light.svg#montserrat-light') format('svg'); 
}
/*
--  roboto-medium  --   
@font-face {
    font-family:'roboto-medium';
    src: url('../fonts/roboto-medium/roboto-medium.eot');
    src: url('../fonts/roboto-medium/roboto-medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/roboto-medium/roboto-medium.otf') format('otf'),
        url('../fonts/roboto-medium/roboto-medium.woff') format('woff'),
        url('../fonts/roboto-medium/roboto-medium.ttf') format('truetype'),
        url('../fonts/roboto-medium/roboto-medium.svg#roboto-medium') format('svg'); 
}

--  roboto-light  --   
@font-face {
    font-family:'roboto-light';
    src: url('../fonts/roboto-light/roboto-light.eot');
    src: url('../fonts/roboto-light/roboto-light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/roboto-light/roboto-light.otf') format('otf'),
        url('../fonts/roboto-light/roboto-light.woff') format('woff'),
        url('../fonts/roboto-light/roboto-light.ttf') format('truetype'),
        url('../fonts/roboto-light/roboto-light.svg#roboto-light') format('svg'); 
}*/