/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25 Apr, 2017, 5:37:54 PM
    Author     : Ahex
*/

.market-wrapper{
    .market-left, .market-right{
        float: left;
        width: 50%;
    }
    .market-left-inner{
        max-width: 75%;
        margin: 110px 15px 0 auto;
        p{
            color         : #eaeaea;
            z-index       : 9;
            position      : relative;
            font-size     : 15px;
            margin-top    : 15px;  
            font-family   : "montserrat-light",sans-serif;
            line-height   : 28px;
            letter-spacing: 1.2px;  
            span{
                font-weight: bold;
                font-style: italic;
            }
        }
        ul{
            li{
                color         : #aaa;
                z-index       : 9;
                position      : relative;
                font-size     : 15px;
                margin-top    : 30px;
                font-family   : "montserrat-light",sans-serif;
                line-height   : 24px;
                letter-spacing: 1px;
            }
        }
    }
    .market-right-inner{
        max-width: 70%;
        margin: 110px auto 0 5%;
        p{
            color         : #000;
            font-size     : 15px;
            margin-top    : 15px;
            letter-spacing: 1px;
        }
    }
    /*    .market-right{
            margin-left: 50%;
        }*/
    .market-left{
        background: rgba(0, 0, 0, 0) url("../images/market-bg.jpg") no-repeat fixed center center / cover ;
        min-height: 100vh;
        position: relative;
        &:before{
            top             : 0;
            left            : 0;
            right           : 0;
            bottom          : 0;
            content         : "";
            position        : absolute;
            background-color: rgba(0, 0, 0, 0.7);
        }
        &.application{
            background: rgba(0, 0, 0, 0) url("../images/application-bg.jpg") no-repeat fixed center bottom / cover ;
        }
        &.intelligence{
            background: rgba(0, 0, 0, 0) url("../images/intelligence-bg.jpg") no-repeat fixed center center / cover ;
        }
        &.technology{
            background: rgba(0, 0, 0, 0) url("../images/technology-bg.jpg") no-repeat fixed center center / cover ;
        }
    }
    h2{
        color: #fff;
        margin: 0;
        font-size: 35px;
        position: relative;
        font-family:  "montserrat-medium",sans-serif;
        padding-bottom: 0px;
        text-transform: uppercase;
        &:after{
            width: 40px;
            height: 4px;
            content:"";
            background: linear-gradient(to right,#ffa402,#ff5661,#ff279c);
            position: absolute;
            margin: 0px auto 0;
            display: block;
            left: 0;
        }
    }
    .market-right-inner{
        h2{
            color    : #000;
        }
        .btn{
            color : #000;
            margin: 10px auto 40px 0;
        }
    }
}  
@media (min-width: 767px) and (max-width: 990px){  
    .market-wrapper {
        .market-left-inner{
            margin: 110px 15px 0 30px;
            max-width: 100%;
            p{
                font-size: 13px;
            }
        }
        .market-right-inner {
            margin: 110px 15px 0 5%;
            max-width: 100%;
            p{
                font-size: 13px;
            }
            .btn{
                margin: 15px auto 30px 0;
            }
        }
        h2{
            font-size: 25px;
            padding-bottom: 25px;
        }
        p{
            font-size: 13px;
        }
    }
}
@media (min-width: 320px) and (max-width: 767px){  
    .market-wrapper {
        .market-left-inner{
            margin: 0;
            padding: 60px 10px 20px 20px;
            max-width: 100%;
            p{
                font-size: 13px;
            }
        }
        .market-right-inner {
            margin: 10px 10px 20px 20px;
            max-width: 100%;
            p{
                font-size: 13px;
                margin-top: 20px;
            }
            .btn{
                margin: 15px auto 30px 0;
            }
        }
        h2{
            font-size: 25px;
            padding-bottom: 25px;
        }
        p{
            font-size: 13px;
        }
        .market-right, .market-left{
            width: 100%;
            float: none;
        }  
        .market-left{
            height: auto !important;
            min-height: auto;
            /*position: static;*/
        } 
        .market-right{
            margin-left: auto;
        }
    }
}