/*==============================================================================
****************              Sidebar Styles                    ****************
==============================================================================*/
.content-wrapper{
    width: 100%; 
    margin-left: 0;
    @include transition(0.3s all ease-in-out);
}
.btn-sidebar-toggle{
    top: 5px;
    right: 10px;
    z-index: 9999;
    width: 40px;
    height: 40px;
    border: 0;
    position: fixed;
    padding: 0 5px;
    background-color: transparent;
    border-radius: 0;
    background-image: linear-gradient(to right, #ffa402, #ff5661, #ff279c), linear-gradient(to right, #ffa402, #ff5661, #ff279c);
    background-position: 0 0px, 0 100%;
    background-repeat: no-repeat;
    background-size: 100% 3px;
    border-left: 3px solid #ffa402;
    border-right: 3px solid #ff279c;
    box-sizing: border-box;
    cursor: pointer;
    overflow: hidden;
    @include transition(0.3s all ease-in-out);
    &:before{
        background: rgba(0, 0, 0, 0) linear-gradient(to right, #ffa402, #ff5661, #ff279c) repeat scroll 0 0;
        bottom: 0;
        content: "";
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        transform: translateY(100%);
        transition: transform 0.4s ease 0s;
        will-change: transform;
    }
    span{
        height: 2px;
        margin: 7px 0; 
        display: block;
        background: rgba(0, 0, 0, 0)  linear-gradient(to right,#ffa402,#ff5661,#ff279c) repeat scroll 0 0;
        @include transition(0.3s all ease-in-out);
    }
    &:active:hover, &:active:focus,  
        &:hover, &:focus, &:active{
        border-left: 3px solid #ffa402;
        border-right: 3px solid #ff279c;
        background-color: transparent;
        &:before{
            transform: translateY(-100%);
        }
        &:focus{
            /*background-image: linear-gradient(to right, #ffa402, #ff5661, #ff279c), linear-gradient(to right, #ffa402, #ff5661, #ff279c);*/
            border          : none;
            background-color: transparent;
        }
    }
} 

/*--  Sidebar Overlay  --*/  
.sidebar-overlay{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    z-index: 999;
    position: absolute;
    border-left: 1px solid #333;
    background-color: rgba(0,0,0,0.5);
}

.sidedbar-wrapper{
    top: 0;
    right: -320px;
    width: 320px;
    bottom: 0;  
    z-index: 9999;
    position: fixed;
    overflow: auto;
    border-left: 1px solid #333;
    background-color: #000;
    @include transition(0.3s all ease-in-out);
    ul{
        margin: 0;
        li{
            /*border-right: 1px solid #B8C7CE;*/
            border-bottom: 1px solid #333;
            &.sidebar-short{
                display: none;
            }
            a{
                color: #666;
                display: block;
                /*opacity: 0.7;*/
                padding: 20px 24px;
                text-decoration:none; 
                @include transition(0.1s all ease-in-out);
                &:hover{
                    color: #fff;
                    opacity: 1;
                }
            }
            &:last-child{
                border-bottom: none;
            }
            &:hover{
                background-color: #1A1A1A;
            }
        }
    }
}

body{
    &.sidebar-open{
        overflow: hidden;
        .content-wrapper{
            margin-left: -320px;
        }
        .sidedbar-wrapper{
            right: 0;
        }
        .sidebar-overlay{
            display: block;
        }
    }
}
@media  (max-width: 1280px){
    .sidedbar-wrapper{
        ul{
            li{
                &.sidebar-short{
                    display: block;
                }
            }
        }
    }
    .btn-sidebar-toggle{
        top             : 7px;
        width           : 33px;
        height          : 35px;
        border-left     : none;
        border-right    : none;
        background-image: none;
        span {
            height: 1px;
        }
        &:hover{
            background-image: none;
            background: none;
            border-left: none;
            border-right: none;    
        }
    }
    .sidedbar-wrapper{
        width: 240px;
    }
    body{
        &.sidebar-open{
            .content-wrapper{
                margin-left: -240px;
            }
        }
    }
}
@media (min-width: 320px) and (max-width: 480px){   
    .btn-sidebar-toggle{
        width : 30px;
        height: 30px;
        span{
            margin: 4px 0;
        }
    }
    .sidedbar-wrapper {
        right: -250px;
        width: 250px;
        ul { 
            li{
                a {
                    padding  : 15px;
                    font-size: 13px;
                }
            }
        }
    }
    body{
        &.sidebar-open {
            .content-wrapper {
                margin-left: -250px;
            }
        }
    }
}
@media(min-width: 320px) and (max-width: 767px){
    .btn-sidebar-toggle{
        border: 0;
        &:active:hover, &:active:focus,
            &:hover, &:focus, &:active{
            border: 0;
            outline: none;
        }
        span{
            /*background: rgba(0, 0, 0, 0) linear-gradient(to right, #0cb199, #0cb199, #325c80) repeat scroll 0 0;*/
        }
    }
}