.rating-stars-section{
    .rating-content{
        .rating-name{

        }
        .rating-stars{
            .rating-star{
                width: 40px;
                height: 40px;
                margin: 5px;
                border: 1px solid #333;
                background-color: #ccc;
                @include border-radius(50%);
            }
            > small{
                color: #fff;
                font-size: 14px;
            }
            &.html-number .rating-star,&.css-number .rating-star{
                &:nth-child(1){
                    background-color: #333;
                }
                &:nth-child(2){
                    background-color: #333;
                }
                &:nth-child(3){
                    background-color: #333;
                }
                &:nth-child(4){
                    background-color: #333;
                }
                &:nth-child(5){
                    background-color: #333;
                }
                &:nth-child(6){
                    background-color: #333;
                }
                &:nth-child(7){
                    background-color: #333;
                }
                &:nth-child(8){
                    background-color: #333;
                }
                &:nth-child(9){
                    background-color: #333;
                }
            }
            &.bootstrap-number .rating-star{
                &:nth-child(1){
                    background-color: #333;
                }
                &:nth-child(2){
                    background-color: #333;
                }
                &:nth-child(3){
                    background-color: #333;
                }
                &:nth-child(4){
                    background-color: #333;
                }
            }
        }
    }
}