/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18 Jul, 2016, 12:18:17 PM
    Author     : Ahex
*/

/*==============================================================================
******************   Font Styles For the Application   *************************
==============================================================================*/

@font-face {
    font-family: 'CircularStd-Bold';
    src: url('../fonts/CircularStd-Bold/CircularStd-Bold.eot'); 
    src: url('../fonts/CircularStd-Bold/CircularStd-Bold.eot?#iefix') format('embedded-opentype'), 
        url('../fonts/CircularStd-Bold/CircularStd-Bold.woff') format('woff'),
        url('../fonts/CircularStd-Bold/CircularStd-Bold.ttf')  format('truetype'),
        url('../fonts/CircularStd-Bold/CircularStd-Bold.svg#svgFontName') format('svg'); 
} 
@font-face {
    font-family: 'CircularStd-Book';
    src: url('../fonts/CircularStd-Book/CircularStd-Book.eot'); 
    src: url('../fonts/CircularStd-Book/CircularStd-Book.eot?#iefix') format('embedded-opentype'), 
        url('../fonts/CircularStd-Book/CircularStd-Book.woff') format('woff'),
        url('../fonts/CircularStd-Book/CircularStd-Book.ttf')  format('truetype'),
        url('../fonts/CircularStd-Book/CircularStd-Book.svg#svgFontName') format('svg'); 
} 

@font-face {
    font-family: 'HelveticaNeue-Thin';
    src: url('../fonts/HelveticaNeue-Thin/HelveticaNeue-Thin.eot'); 
    src: url('../fonts/HelveticaNeue-Thin/HelveticaNeue-Thin.eot?#iefix') format('embedded-opentype'), 
        url('../fonts/HelveticaNeue-Thin/HelveticaNeue-Thin.woff') format('woff'),
        url('../fonts/HelveticaNeue-Thin/HelveticaNeue-Thin.ttf')  format('truetype'),
        url('../fonts/HelveticaNeue-Thin/HelveticaNeue-Thin.svg#svgFontName') format('svg'); 
} 

@font-face {
    font-family: 'ProximaNova-Semibold';
    src: url('../fonts/ProximaNova-Semibold/ProximaNova-Semibold.eot'); 
    src: url('../fonts/ProximaNova-Semibold/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'), 
        url('../fonts/ProximaNova-Semibold/ProximaNova-Semibold.woff') format('woff'),
        url('../fonts/ProximaNova-Semibold/ProximaNova-Semibold.ttf')  format('truetype'),
        url('../fonts/ProximaNova-Semibold/ProximaNova-Semibold.svg#svgFontName') format('svg'); 
} 

/*==============================================================================
*****************   Common Styles For the Application   ************************
==============================================================================*/

*,*:focus{
    outline: none !important;
}
.padRL0{
    padding-left : 0;
    padding-right: 0;
}
.pad0{
    padding: 0;
}
.padR0{
    padding-right: 0;
}
.padL0{
    padding-left : 0;
}

/*==============================================================================
*****************   Navbar Styles For the Application   ************************
==============================================================================*/
.navbar-default .navbar-toggle{
    margin            : 35px 15px 35px 0;
    background        : #fff none repeat scroll 0 0;
    border-color      : #d2276d;
    transition        : all 0.2s ease-in-out;
    -o-transition     : all 0.2s ease-in-out;
    -moz-transition   : all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color  : #d2276d;
    transition        : all 0.2s ease-in-out;
    -o-transition     : all 0.2s ease-in-out;
    -moz-transition   : all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:active{
    margin      : 35px 15px 35px 0;
    background  : #d2276d none repeat scroll 0 0;
    border-color: #d2276d;
}
.navbar-default .navbar-toggle:active .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar,
.navbar-default .navbar-toggle:hover .icon-bar {
    background-color: #fff;
}
.custom-navbar{
    min-height      : 100px;
    border-color    : #c8c8c8;
    margin-bottom   : 3px; 
    background-color: #fff;
}
.custom-navbar .navbar-nav li{
    margin-left: 30px;
}
.custom-navbar .navbar-nav li a{
    color             : #3c4352;
    font-size         : 16px;
    line-height       : 29px;
    padding-top       : 55px;
    font-family       : CircularStd-Bold, sans-serif;
    text-transform    : uppercase;
    transition        : all 0.2s ease-in-out;
    -o-transition     : all 0.2s ease-in-out;
    -moz-transition   : all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}
.custom-navbar .navbar-nav > li:hover  a, 
.custom-navbar .navbar-nav > .active > a, 
.custom-navbar .navbar-nav > .active > a:hover,
.custom-navbar .navbar-nav > .active > a:focus{
    color           : #d2276d;
    background-color: transparent;
}

/*==============================================================================
******************   Main Styles For the Application   *************************
==============================================================================*/
.main-banner-wrapper{
    width              : 100%;
    height             : 445px;
    position           : relative; 
    background         : url(../images/main-banner.jpg);
    background-position: 40% 57%; 
    background-size    : cover;
    background-repeat  : no-repeat;
}
.main-banner-wrapper .brand-yourself{
    top          : 0;
    left         : 0;
    right        : 0;
    bottom       : 0;
    position     : absolute;
    text-align   : center; 
    background   : rgba(0, 0, 0, 0.4) none repeat scroll 0 0;
    border-bottom: 3px solid #fff;
}
.main-banner-wrapper .brand-yourself-inner{
    max-width  : 665px;
    margin: 110px 60px 0 auto;
}
.main-banner-wrapper .brand-yourself h1{
    color        : #fff;
    font-size    : 94px;
    font-family  : 'HelveticaNeue-Thin';
    margin-bottom: 25px; 
}
.main-banner-wrapper .brand-yourself h3{
    color        : #fff;
    font-size    : 22px;
    font-family  : 'ProximaNova-Semibold';
    margin-bottom: 40px; 
}
.main-banner-wrapper .brand-yourself .btn{
    color           : #fff;
    height          : 47px; 
    font-size       : 18px;
    min-width       : 200px; 
    font-family     : 'ProximaNova-Semibold';
    line-height     : 32px; 
    border-width    : 3px; 
    border-color    : #fff;
    border-radius   : 0; 
    letter-spacing  : 3px; 
    text-transform  : uppercase; 
    background-color: transparent;
}
.main-banner-wrapper .brand-yourself .btn:hover,
.main-banner-wrapper .brand-yourself .btn:focus,
.main-banner-wrapper .brand-yourself .btn:active{
    color           : #000;
    background-color: #fff;
}

.what-we-do-wrapper{
    width              : 100%;
    height             : 585px;
    position           : relative; 
    background         : url(../images/what-we-do.jpg);
    text-align         : center; 
    padding-top        : 45px; 
    border-right      : 3px solid #fff;
    background-repeat  : no-repeat;
    background-position: center top; 
}
.about-us-wrapper{
    width              : 100%;
    height             : 585px;
    position           : relative; 
    background         : url(../images/about-us.jpg);
    padding-top        : 110px;
    background-position: center top; 
    background-repeat  : no-repeat;
}
.what-we-do-wrapper h2, 
.about-us-wrapper h2{
    font-size  : 47px;
    margin-top : 0;
    font-family: 'HelveticaNeue-Thin';
}
.what-we-do-wrapper p, 
.about-us-wrapper p{
    font-size  : 18px;
    line-height: 22px;
    font-family: 'ProximaNova-Semibold';
}
.what-we-do-wrapper p{
    color: #fff;
}
.about-us-wrapper p{
    color: #fff;
}
.what-we-do-wrapper h2{
    margin-bottom: 25px;
}
.what-we-do-wrapper h2,
.what-we-do-wrapper p{
    color    : #fff; 
    margin   : 0 auto 15px; 
    max-width: 440px; 
}
.about-us-wrapper h2{
    margin-bottom: 30px;
}
.about-us-wrapper h2 sup{
    top      : -25px;
    right    : 12px;
    font-size: 18px;
}
.about-us-wrapper h2,
.about-us-wrapper p{
    color    : #000;
    margin   : 0 auto 20px 50px; 
    max-width: 265px; 
}
.celebrity-wrapper{
    padding         : 100px 95px 0 105px;
    min-height      : 700px; 
    border-top      : 3px solid #fff;
    border-bottom   : 3px solid #fff;
    background-color: #3d95d8;
}
.celebrity-wrapper h2{
    color        : #fff;
    font-size    : 47px;
    text-align   : center;
    margin-top   : 0;
    font-family  : 'HelveticaNeue-Thin';
    margin-bottom: 50px; 
}
.celebrity-wrapper ul li{
    width: 19.5%;
    text-align: center;
}
.celebrity-wrapper ul li img{
    margin: 0 auto;
}
.celebrity-wrapper ul li span{
    color         : #fff;
    display       : block;
    font-size     : 18px;
    margin-top    : 15px;
    text-align    : center;
    font-family   : 'ProximaNova-Semibold';
    margin-bottom : 35px;
}

.news-wrapper{
    width           : 100%;
    height          : 575px;
    position        : relative; 
    padding         : 45px 70px 40px 50px;
    background-color: #f0f0f0;
}
.news-wrapper .row{
    margin-bottom: 12px;
}
.news-wrapper h2{
    color        : #000;
    margin-top   : 0;
    text-align   : center;
    font-size    : 47px;
    font-family  : 'HelveticaNeue-Thin';
    margin-bottom: 40px;
}
.news-wrapper p{
    color         : #000;
    height        : 92px;
    display       : table-cell;
    font-size     : 18px;
    line-height   : 20px;
    font-family   : "ProximaNova-Semibold";
    margin-bottom : 0;
    vertical-align: middle;
}
.apparel-wrapper{
    width              : 100%;
    height             : 575px;
    position           : relative; 
    background         : url(../images/apparels.jpg);
    border-left        : 3px solid #fff; 
    padding-top        : 110px;
    background-position: center top; 
    background-repeat  : no-repeat;
}
.apparel-wrapper .apparel-inner-wrapper{
    width     : 100%;
    height    : 165px;
    bottom    : 0; 
    padding   : 28px 0 0 62px; 
    position  : absolute;
    text-align: center;
    background: rgba(0,0,0,0.58);
}
.apparel-wrapper .apparel-inner-wrapper h2{
    color        : #fff;
    position     : relative; 
    font-size    : 47px;
    margin-top   : 0;
    text-align   : left; 
    margin-bottom: 20px; 
    font-family  : 'HelveticaNeue-Thin';
}
.apparel-wrapper .apparel-inner-wrapper h2 sup,
.apparel-wrapper .apparel-inner-wrapper h2 sub{
    font-size: 15px;
}
.apparel-wrapper .apparel-inner-wrapper h2 sup{
    top      : -20px;
    font-size: 15px;
}
.apparel-wrapper .apparel-inner-wrapper h2 sub{
    right    : -7px;
    bottom   : 3px;
    font-size: 18px;
}
.apparel-wrapper .apparel-inner-wrapper h2 span{
}
.apparel-wrapper .apparel-inner-wrapper .btn{
    width           : 210px; 
    color           : #fff;
    margin          : 0 auto; 
    font-size       : 14px;
    font-family     : 'ProximaNova-Semibold';
    border-width    : 3px; 
    border-color    : #fff;
    border-radius   : 0; 
    letter-spacing  : 3px; 
    text-transform  : uppercase; 
    background-color: transparent;
}
.apparel-wrapper .apparel-inner-wrapper .btn:hover,
.apparel-wrapper .apparel-inner-wrapper .btn:focus,
.apparel-wrapper .apparel-inner-wrapper .btn:active{
    color           : #000;
    background-color: #fff;
}

.emoji-statistics-wrapper{
    text-align : center;
    padding-top: 70px; 
    min-width: 100%
}
.emoji-statistics-wrapper img{
    min-width: 100%
}
.emoji-statistics-wrapper h2{
    color        : #000;
    font-size    : 47px;
    margin-top   : 0;
    font-family  : 'HelveticaNeue-Thin';
    margin-bottom: 20px; 
}
.emoji-statistics-wrapper p{
    color        : #000;
    font-size    : 18px;
    font-family  : 'ProximaNova-Semibold';
    margin-bottom: 45px; 
}
.emoji-statistics-wrapper p.text-right{
    font-size    : 12px;
    margin-top   : 20px;
    margin-bottom: 40px;
}
.contact-us-wrapper{
    padding         : 75px 115px 65px 110px; 
    background-color: #3b3b3b;
}
.contact-us-wrapper h2{
    color        : #fff;
    font-size    : 47px;
    text-align   : center; 
    margin-top   : 0;
    font-family  : 'HelveticaNeue-Thin';
    margin-bottom: 0; 
}
.contact-us-wrapper .form-control{
    min-height   : 52px;    
    color        : #000;
    font-size    : 18px;
    margin-top   : 30px;
    box-shadow   : none; 
    font-family  : 'ProximaNova-Semibold';
    border-radius: 0;
}
.contact-us-wrapper textarea{
    resize: none;
}
.contact-us-wrapper .btn{
    color           : #fff;
    height          : 47px;
    min-width       : 200px;
    font-size       : 18px;
    margin-top      : 30px;
    line-height     : 32px; 
    font-family     : 'ProximaNova-Semibold';
    border-width    : 3px; 
    border-color    : #fff;
    border-radius   : 0; 
    letter-spacing  : 3px;
    text-transform  : uppercase; 
    background-color: transparent;
}
.contact-us-wrapper .btn:hover,
.contact-us-wrapper .btn:focus,
.contact-us-wrapper .btn:active{
    color           : #000;
    background-color: #fff;
}
.contact-us-wrapper .form-control::-webkit-input-placeholder {
    color      : #000;
    font-size  : 18px;
    font-family: 'ProximaNova-Semibold';
}

.contact-us-wrapper .form-control:-moz-placeholder { /* Firefox 18- */
    color      : #000;
    font-size  : 18px;
    font-family: 'ProximaNova-Semibold';
}

.contact-us-wrapper .form-control::-moz-placeholder {  /* Firefox 19+ */
    color      : #000;
    font-size  : 18px;
    font-family: 'ProximaNova-Semibold';
}

.contact-us-wrapper .form-control:-ms-input-placeholder {  
    color      : #000;
    font-size  : 18px;
    font-family: 'ProximaNova-Semibold';
}

/*==============================================================================
******************   Footer Styles For the Application   ***********************
==============================================================================*/
footer{
    padding         : 50px 0 40px;
    margin-top      : 50px;
    background-color: #2d3239;
}
footer .footer-left a{
    color             : #fff;
    padding           : 10px;
    font-size         : 16px;
    font-family       : 'CircularStd-Bold'; 
    text-transform    : uppercase;
    transition        : all 0.2s ease-in-out;
    -o-transition     : all 0.2s ease-in-out;
    -moz-transition   : all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}
footer .footer-left a:hover{
    color          : #3D95D8;
    text-decoration: none;
}
footer .footer-mstickers {
    margin-bottom: 30px;
}
footer .footer-mstickers a {
    color             : #fff;
    font-size         : 16px;
    font-family       : 'CircularStd-Bold'; 
    text-transform    : uppercase;
    transition        : all 0.2s ease-in-out;
    -o-transition     : all 0.2s ease-in-out;
    -moz-transition   : all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}
footer .footer-mstickers a:hover 
footer .footer-mstickers a:active 
footer .footer-mstickers a:focus {
    color          : #fff; 
    text-decoration: none;
}
footer .footer-logo{
    margin-top   : 55px;
    margin-bottom: 40px;
}
footer p.copyright{
    color      : #fff;
    font-size  : 16px;
    font-family: CircularStd-Book, sans-serif;
}
footer p.copyright a,
footer p.copyright a:hover{
    color          : #f500a7;
    display        : inline-block;
    text-decoration: none;
}
footer .footer-social {
    margin-bottom: 20px;
}
footer .footer-social a{
    color             : #a1aab5;
    padding           : 0 10px;
    font-size         : 26px;
    transition        : all 0.2s ease-in-out;
    -o-transition     : all 0.2s ease-in-out;
    -moz-transition   : all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}
footer .footer-social a:hover{
    text-decoration: none;
}
footer .footer-social a.fa-facebook:hover{
    color: #3B5998; 
}
footer .footer-social a.fa-twitter:hover{
    color: #00ACED; 
}
footer .footer-social a.fa-instagram:hover{
    color: #AA7359; 
}
footer .footer-social a.fa-pinterest:hover{
    color: #CD2129; 
}
footer .footer-social a.fa-google-plus:hover{
    color: #DD4E40; 
}
footer .footer-social a.fa-youtube:hover{
    color: #EE1C1B; 
}
footer .form-group{
    position: relative;
}
footer .form-group i{
    top      : 10px;
    right    : 10px;
    position : absolute;
    font-size: 20px;
}
footer .form-group i.fa-envelope-o{
    color: #5c6573;
}
footer .form-group i.fa-search{
    top  : 8px;
    color: #b1b7bf;
}
footer .form-control{
    min-height   : 42px;
    border-radius: 0;
}
footer .search-form .form-control{
    color           : #fff; 
    border-color    : #24282e;
    background-color: #24282e;
}
footer .form-control::-webkit-input-placeholder,
footer .form-control:-moz-placeholder,
footer .form-control::-moz-placeholder,
footer .form-control:-ms-input-placeholder {  
    font-size  : 18px;
    font-family: 'ProximaNova-Semibold';
}
footer .news-letter .form-control::-webkit-input-placeholder,
footer .news-letter .form-control:-moz-placeholder,
footer .news-letter .form-control::-moz-placeholder,
footer .news-letter .form-control:-ms-input-placeholder {  
    color: #bac1c9;
}

footer .search-form .form-control::-webkit-input-placeholder,
footer .search-form .form-control:-moz-placeholder,
footer .search-form .form-control::-moz-placeholder,
footer .search-form .form-control:-ms-input-placeholder {  
    color: #b1b7bf;
}

/*==============================================================================
******************   Media Styles For the Application   ************************
==============================================================================*/
@media (min-width: 1250px){
    .custom-container{
        width: 1230px;
    }
}

@media (min-width: 767px) and (max-width: 1200px){
    .custom-container{
        width: 100%;
    }
    footer  .custom-container{
        width: 100%;
    }
    footer .footer-social a{
        padding: 0 5px;
    }
}
@media (min-width: 990px) and (max-width: 1175px){
    .what-we-do-wrapper p, .about-us-wrapper p{
        font-size: 16px;
    }
    .about-us-wrapper h2, .about-us-wrapper p{
        margin: 0 auto 20px 20px;
    }
    .apparel-wrapper .apparel-inner-wrapper h2{
        font-size : 30px;
        text-align: center;
    }
}
@media (min-width: 767px) and (max-width: 990px){
    .navbar .container{
        width: 100%;
    }
    .custom-navbar .navbar-nav li{
        margin-left: 0;
    }
    .main-banner-wrapper .brand-yourself-inner {
        margin: 75px auto 0;
        max-width: 90%;
    }
    .about-us-wrapper{
        background-position: left center;
    }
    .what-we-do-wrapper{
        padding: 45px 5px 0;
    }
    .what-we-do-wrapper p, .about-us-wrapper p{
        font-size: 16px;
    }
    .about-us-wrapper h2, .about-us-wrapper p{
        margin: 0 auto 20px 20px;
    }
    .apparel-wrapper .apparel-inner-wrapper h2{
        font-size : 30px;
        text-align: center;
    }
    .news-wrapper{
        padding: 45px 10px 40px 15px;
    }
    .news-wrapper p{
        height   : 90px;
        font-size: 15px;
    }
    .celebrity-wrapper{
        padding: 100px 30px 0 30px;
    }
    footer .footer-social {
        margin-bottom: 15px;
    }
    footer .footer-social a {
        padding  : 0 2px;
        font-size: 22px;
    }
    footer .footer-left a {
        padding  : 5px 0;
        font-size: 14px;
    }
}
@media (min-width: 480px) and (max-width: 767px){

    .custom-navbar .navbar-nav li {
        margin-left: 0;
    }
    .custom-navbar .navbar-nav li a{
        line-height: 20px;
        padding-top: 10px;
    }
    .main-banner-wrapper .brand-yourself-inner {
        margin: 50px 0 0 auto;
        padding: 0 10px;
    }
    .main-banner-wrapper .brand-yourself h1 {
        font-size: 60px;
    }
    .main-banner-wrapper .brand-yourself h3 {
        font-size: 20px;
    }
    .what-we-do-wrapper{
        border-right   : none;
        border-bottom  : 3px solid #fff; 
        background-size: cover;
    }
    .main-banner-wrapper .brand-yourself-inner {
        margin: 50px 0 0 auto;
        max-width: 100%;
    }
    .col-sm-6.padR0{
        padding-right: 15px;
    }
    .col-sm-6.padL0{
        padding-left: 15px;
    }
    .about-us-wrapper{
        background-size    : cover;
        background-position: center left;
    }
    .about-us-wrapper h2, .about-us-wrapper p {
        margin: 0 auto 10px 20px;
    }

    .celebrity-wrapper{
        padding   : 50px 15px;   
        min-height: 100%;
    }
    .celebrity-wrapper ul{
        text-align: center;
    }
    .celebrity-wrapper ul li{
        width: 32.5%;
        float: none;
    }
    .celebrity-wrapper ul li span{
        font-size: 16px;
    }
    .news-wrapper {
        padding: 45px 20px 40px;
    }
    .news-wrapper p{
        height: auto;
    }
    .news-wrapper img{
        margin: 0 auto;
    }
    .apparel-wrapper .apparel-inner-wrapper{
        padding: 28px 0 0;
    }
    .apparel-wrapper .apparel-inner-wrapper h2{
        font-size : 30px;
        text-align: center;
    }
    .contact-us-wrapper {
        padding: 60px 30px 30px;
    }
    .contact-us-wrapper h2{
        font-size: 30px;
    }
    footer .footer-logo {
        margin-bottom: 20px;
        margin-top: 20px;
    }
    footer .footer-mstickers {
        margin-bottom: 10px;
        margin-top: 30px;
    }
}
@media (min-width: 200px) and (max-width: 480px){
    .main-banner-wrapper{
        height: 400px;
    }
    .custom-navbar .navbar-nav li {
        margin-left: 0;
    }
    .custom-navbar .navbar-nav li a{
        line-height: 20px;
        padding-top: 10px;
    }
    .main-banner-wrapper .brand-yourself-inner {
        margin: 70px 0 0 auto;
        padding: 0 10px;
    }
    .main-banner-wrapper .brand-yourself h1 {
        font-size: 45px;
    }
    .main-banner-wrapper .brand-yourself h3 {
        font-size  : 16px;
        line-height: 22px;
    }
    .what-we-do-wrapper{
        height         : 400px;
        padding        : 20px 5px;
        position       : relative;
        border-right   : none;
        border-bottom  : 3px solid #fff; 
        background-size: cover;
    }
    .what-we-do-wrapper:after{
        top       : 0;
        left      : 0;
        right     : 0;
        bottom    : 0;
        height    : 100%;
        z-index   : 0;
        content   : "";
        position  : absolute;
        background: rgba(0, 0, 0, 0.2) none repeat scroll 0 0;
    }
    .what-we-do-wrapper h2, .what-we-do-wrapper p{
        z-index: 6;
    }
    .main-banner-wrapper .brand-yourself-inner {
        margin: 50px 0 0 auto;
        max-width: 100%;
    }
    .col-sm-6.padR0{
        padding-right: 15px;
    }
    .col-sm-6.padL0{
        padding-left: 15px;
    }
    .about-us-wrapper{
        padding-top        : 30px; 
        min-height         : 425px;
        max-height         : 425px;
        background-size    : cover;
        background         : #F0F0F0; 
        background-position: center left;
    }
    .about-us-wrapper h2, .about-us-wrapper p {
        margin: 0 auto 10px 20px;
    }

    .celebrity-wrapper{
        padding   : 30px 10px 0;   
        min-height: 100%;
    }
    .celebrity-wrapper h2{
        font-size    : 32px;
        margin-bottom: 30px;
    }
    .celebrity-wrapper ul{
        text-align: center;
    }
    .celebrity-wrapper ul li{
        float         : none;
        width         : 32.5%;
        vertical-align: top;
    }
    .news-wrapper {
        height : auto;
        padding: 20px;
    }
    .news-wrapper p{
        height   : auto;
        font-size: 15px;
    }
    .news-wrapper img{
        margin: 0 auto;
    }  
    .apparel-wrapper .apparel-inner-wrapper{
        padding: 15px 0 0;
    }
    .apparel-wrapper .apparel-inner-wrapper h2{
        font-size    : 30px;
        text-align   : center;
        margin-bottom: 10px; 
    }
    .apparel-wrapper{
        border-left: none;
        border-top: 3px solid #fff;
    }
    .emoji-statistics-wrapper{
        padding-top: 30px;
    }
    .emoji-statistics-wrapper p{
        margin-bottom: 15px;
    }
    .emoji-statistics-wrapper h2{
        font-size: 30px;
    }
    .emoji-statistics-wrapper p.text-right {
        margin-top   : 15px;
        text-align   : center;
        margin-bottom: 15px;
    }
    .contact-us-wrapper {
        padding: 25px;
    }
    .contact-us-wrapper h2{
        font-size: 25px;
    }
    footer {
        text-align: center;
    }
    footer .footer-logo {
        margin        : 20px auto;
        border-bottom : 1px solid #f500a7;
        padding-bottom: 10px;
    }
    footer .footer-mstickers {
        margin-top   : 30px;
        margin-bottom: 10px;
    }
    footer .footer-social{
        margin-bottom: 10px;
    }
    footer .footer-social li{
        padding: 0;
    }
    footer .footer-social a{
        padding  : 0 5px;
        font-size: 22px;
    }
    footer p.copyright {
        font-size: 14px;
    }
    .footer-left > li {
        min-width: 155px;
    }
}