
*,*:focus{
    outline: none !important;
}

body{
    font-family: "montserrat-light",sans-serif;
    position: relative;
    @include transition(0.3s all ease-in-out);
    & h2{
        font-family: "montserrat-medium",sans-serif;
    }
}
textarea{
    resize: none;  
}
.centerd{
    margin: 0 auto;
    float: none;
}
.mt-20{
    margin-top: 20px !important;
}
.mb-20{
    margin-bottom: 20px;
}
label{
    &.error{
        color: red;
        font-family:  "montserrat-light",sans-serif;
        font-weight: 300;
        margin: 0;
    }
}
.success-info.mail-sent{
    color: #fff;
}
.btn{
    &.btn-custom{
        width: 135px;
        height: 40px;
        color: #fff;
        display: block;
        font-size: 14px;
        margin: 0 auto;
        text-align: center;   
        position: relative;
        line-height: 25px;
        text-shadow: none;
        border-radius: 0;
        overflow: hidden;  
        font-family: "montserrat-light",sans-serif;
        border-left: 1px solid #ffa402;
        border-right: 1px solid #ff279c;
        border-top: 1px solid #ffa402;
        border-bottom: 1px solid #ff279c;
        background-color: transparent;  
        background-position: 0 0,0 100%;
        background-repeat: no-repeat;
        background-size: 100% 1px;
        background-image: linear-gradient(to right,#ffa402,#ff5661,#ff279c),linear-gradient(to right,#ffa402,#ff5661,#ff279c);
        background-image: -o-linear-gradient(left,#ffa402,#ff5661,#ff279c),-o-linear-gradient(left,#ffa402,#ff5661,#ff279c);
        &:before{
            background: linear-gradient(to right,#ffa402,#ff5661,#ff279c);
            content: '';
            bottom: 0;
            left: 0;
            transform: translateY(100%);
            transition: transform .6s ease;
            will-change: transform;
            position: absolute;
            right: 0;
            top: 0;
        }
        &:hover, &:focus, &:active{
            background-color: transparent;
            color: #fff;
            &:before{
                transform: translateY(-100%);
            }
        }
    }
}

@media (min-width: 320px) and (max-width: 767px){
    .xxx-xs-100{
        width: 100%;
    }
    .xx-mb20{
        margin-bottom: 20px;    
    }
}