/*==============================================================================
****************              Our Story Styles                  ****************
==============================================================================*/
.section-title{
    color: $white;
    font-size: 44px;
    margin-bottom: 32px;
    margin-top: 0;
    padding-bottom: 15px;
    font-family: "montserrat-medium",sans-serif;
}
.discover-wrapper{
    padding: 60px 0 0;
    background: #000;
    .section-title{
        padding      : 0;
        font-size    : 72px;
        margin-top   : 50px;
        margin-bottom: 60px;
        text-transform: uppercase;
    }
    .story{
        height    : 380px;
        position  : relative;
        overflow  : hidden;
        &:after{
            background-color: rgba(0, 0, 0, 0.3);
            border-radius: 3px;
            bottom: 0;
            content: "";
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
        }
        .overlay{
            top: 0; 
            left: 0;
            right: 0;
            color: $white;
            bottom: 0;
            z-index: 9;
            padding: 20px;    
            display: block;
            position: absolute;
            text-align: center;
            text-decoration: none;
            background-color: transparent;
            @include transition(0.5s all ease-in-out);
        }
        img{
            min-height: 380px;
            @include scale(1); 
            @include transition(0.5s all ease-in-out);
            z-index: 9;
        }
        .content{
            top: 50%;
            transform: translateZ(0);
            transition: all .3s ease-in-out;
            margin-top: 0;
            left: 0;
            right: 0;
            height: 80px;
            position: absolute;
            @include translate(0, -50%);
            h3{
                font-size: 24px;
                margin-bottom: 35px;
                font-family: "montserrat-medium",sans-serif;
                &::after{
                    width: 30px;
                    height: 4px;
                    content: "";
                    background: rgba(0, 0, 0, 0) linear-gradient(to right, #ffa402, #ff5661, #ff279c) repeat scroll 0 0;
                    position: absolute;
                    margin: 15px auto 0;
                    display: block;
                    left: 50%;
                    @include translate(-50%, 0);
                }
            }
            p{
                /*transform: scale(0);*/
                /*transition: opacity .7s;*/
                font-size: 16px;
                font-family: "montserrat-light",sans-serif;
                opacity: 0;
                /*transition: all .3s ease-in-out;*/
                padding: 0 10px;
                /*                @include scale(0);
                                @include transition(0.7s all ease-in-out);
                                @include transition(0.7s opacity ease-in-out);*/
            }
            .btn-play{
                background-color: rgba(0, 0, 0, 0.5);
                border: medium none;
                border-radius: 0;
                color: #fff;
                font-size: 25px;
                height: 80px;
                letter-spacing: 2px;
                text-align: center;
                text-transform: uppercase;
                transform: scale(1);
                vertical-align: middle;
                width: 80px;
                padding-top: 25px;
                transition: transform .3s ease,background-color 1s ease;
                z-index: 99;
                &:hover{
                    transform: scale(1.15);
                    background-color: #000;
                    outline: 0;
                }
            }
        }

        &:hover{
            img{
                @include scale(1.2);
            }

            .overlay{
                background-color: rgba(0,0,0,0.5);
            }
            .content{
                margin-top: -20px;
                height: auto;
                p{
                    display: block;
                    opacity: 1;
                    /*transform: scale(1);*/
                    opacity: 1;
                }
            }
        }
    }
    .story-footer{
        z-index   : 9;
        position  : relative;
        min-height: 200px;
        .story-footer-inner{
            bottom: 0;
            color: #fff;
            font-size: 18px;
            text-transform: uppercase;
            padding: 16px;
            height: 200px;
            position: absolute;
            width: 100%;
            transition: height .2s ease;
            cursor: pointer;
            z-index: 2;
            border: 1px solid #333;
            border-top: 1px solid transparent;
            h3{
                margin-top: 0;
                padding-top: 20px;
                line-height: 26px;
                font-size: 18px;
                position: relative;
                &:after{  
                    background: rgba(0, 0, 0, 0) linear-gradient(to right, #ffa402, #ff5661, #ff279c) repeat scroll 0 0;
                    content: "";
                    display: block;
                    height: 4px;
                    left: 15px;
                    top: 45px;
                    opacity: 0;  
                    margin: 30px auto 0; 
                    position: absolute;
                    transform: translate(-50%);
                    width: 32px; 
                }
            }
            p{
                font-size: 16px;
                text-transform: initial;
                color: #666;
                line-height: 20px;
                margin-top: 20px;
                opacity: 0;
                transition: opacity .4s ease;
                will-change: opacity;
            }
            span{
                bottom: 16px;
                color: #666;
                font-size: 14px;
                font-style: italic;
                position: absolute;
                text-transform: capitalize;
            }
            &:hover{
                height: 240px;
                background: #fff;
                color: #666;
                h3{
                    color: #666;
                    &:after{
                        opacity: 1;
                    }
                }
                p{
                    opacity: 1;
                }
            }
        }
    }
    &.enrich-wrapper{
        padding-top   : 40px; 
        padding-bottom: 0; 
    }
}
.people-values{
    background: rgba(0, 0, 0, 0) url("../images/people-values.jpg") no-repeat fixed center center / cover ;
    position: relative;
    z-index: 9;
    min-height: 400px;
    .people-values-inner{
        padding-top: 130px;
        &:before{
            background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #000, rgba(0, 0, 0, 0.3)) repeat scroll 0 0;
            bottom: 0;
            content: "";
            left: 0;
            position: absolute;
            right: 0; 
            top: 0;
        }
        h2{
            font-size: 22px;
            position: relative; 
            color: #fff;
            font-family: "montserrat-medium",sans-serif;
            letter-spacing: 2px;
            text-transform: uppercase;
            margin-bottom: 25px;
            &:after{
                background: rgba(0, 0, 0, 0) linear-gradient(to right, #ffa402, #ff5661, #ff279c) repeat scroll 0 0;
                content: "";
                display: block;
                height: 4px;
                left: 15px;
                top: 15px;
                margin: 30px auto 0;
                position: absolute;
                transform: translate(-50%);
                width: 32px;
            }
        }
        p{
            color      : #FFF;    
            position   : relative; 
            font-size  : 18px;
            max-width  : 75%;
            line-height: 22px;
        }
        .btn-custom{
            margin: 30px auto 0 0;
            border-width: 1px;
        }
    }
}

@media (max-width: 1280px){
    .people-values{
        .people-values-inner{
            .container{
                width: 90%;
            }
        }
    }

    .discover-wrapper{
        .section-title{
            font-size: 40px;
            text-align: center;
        }
        .container{
            width: 100%;
        }
        .story-footer{
            .story-footer-inner{
                height: 240px;
                background: #fff;  
                color: #666;
                h3{
                    color      : #666;
                    font-family: "montserrat-light",sans-serif;
                    font-size  : 16px;
                    line-height: 20px;
                    &:after{
                        top    : 35px;
                        opacity: 1;
                    }
                }
                p{
                    opacity: 1;
                }
            }
        }
    }
}
@media (min-width: 767px) and (max-width: 990px){
    .discover-wrapper {
        .container{
            width: 100%;
        }
        .story-footer{
            .story-footer-inner{
                h3{
                    font-size: 14px;
                }
            }
        }
        .story {
            height: 300px;
            img{
                min-height: 300px;
            }
        }
    }
    .section-title {
        font-size: 40px;
        margin-bottom: 30px;
        margin-top: 20px;
        padding-bottom: 10px;
    }
}

@media (min-width: 320px) and (max-width: 767px){
    .discover-wrapper {
        padding: 30px 0;
        .story {
            height: 300px;
            img{
                min-height: 100%;
            }
        }
        .section-title {
            font-size: 40px;
            margin-bottom: 30px;
            margin-top: 20px;
            padding-bottom: 10px;
        }
    }
}
@media (min-width: 320px) and (max-width: 480px){
    .xx-mb20{
        margin-bottom: 20px;    
    }
    .xxx-xs-100{
        width: 100%;
    }
}