/*==============================================================================
****************            Home Slider Styles                  ****************
==============================================================================*/

.home-silder-wrapper{      
    height: 100vh;
    &.fixed-img{
        position: relative;
        background: rgba(0, 0, 0, 0) url("../images/slider/welcome-ioe.jpg") no-repeat fixed center center / cover ;
        position: relative;
    }
    .carousel{
        height: 100%;
        .carousel-inner{
            height: 100%;
            .item{   
                height: 100vh;
                &:before{
                    background: linear-gradient(to bottom, #000, rgba(0, 0, 0, 0.3)) repeat scroll 0 0;
                    bottom: 0;
                    content: "";
                    left: 0;
                    position: absolute;
                    right: 0; 
                    top: 0;
                }
                .slider-video { 
                    top: 50%;
                    left: 50%;
                    width: auto;
                    height: auto;
                    z-index: -100;
                    position: absolute;
                    transform: translateX(-50%) translateY(-50%);
                    min-width: 100%;
                    min-height: 100%;
                    background: url('assets/images/slider/slider-1.jpg') no-repeat;
                    transition: 1s opacity;
                    margin-left: -1px;
                    background-size: cover;
                }
                /*                &:after{
                                    content: '';
                                    position: absolute;
                                    width: 100%;
                                    height: 100%;
                                    left: 0;
                                    top: 0;
                                    background: rgba(0, 0, 0, 0) radial-gradient(circle, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)) repeat scroll 0 0;  
                                    line-height: 25px;
                                }*/

            }
            .carousel-caption{  
                max-width: 750px;
                top: 45%;
                padding: 20px 20px 0 20px;
                h2{
                    padding-bottom: 50px; 
                    font-size: 42px;  
                    &:after{
                        width: 32px;
                        height: 4px;
                        content:"";
                        background: linear-gradient(to right,#ffa402,#ff5661,#ff279c);
                        position: absolute;
                        margin: 30px auto 0;
                        display: block;
                        left: 50%;
                        transform: translate(-50%);
                    }
                }
                p{
                    text-shadow: none;
                    font-size: 14px;
                    letter-spacing: 2px;
                    margin-bottom: 30px; 
                    line-height: 21px;
                }

            }    
            img{
                min-width : 100%;
                object-fit: cover;
            }
        }
        .carousel-control{
            width: 10%;
            &.right, &.left{
                background-image: none;
                opacity: 0;
                @include transition(all 0.3s ease-in-out);
                &:hover{
                    opacity: 1;
                }
            }
            .fa-angle-left, .fa-angle-right{
                position: absolute;
                top: 50%;
                margin-top: -10px;
                font-size: 45px;
                z-index: 5;
                display: inline-block;
            }
        }
        .carousel-indicators{
            li{
                width : 8px;
                height: 8px;
                border       : none;
                transform    : rotateZ(-45deg);
                background   : #fff;
                margin-left  : 8px;
                margin-right : 8px;
                border-radius: 0;
                @include transition(all 0.3s ease-in-out);
                &.active{
                    width : 8px;
                    height: 8px;
                    background: linear-gradient(to right,#ffa402,#ff5661,#ff279c);
                    transform: rotateZ(45deg);
                    &:hover, &:focus{ 
                        background: linear-gradient(to right,#ffa402,#ff5661,#ff279c);
                        transform: rotateZ(-45deg);                
                    }
                }
                &:hover, &:focus{ 
                    background: rgba(255,255,255,.1);
                }
            }
        }
    }
}

@media (max-width: 1280px){
    .home-silder-wrapper{  
        .carousel{
            .carousel-inner{
                .carousel-caption{  
                    top: 45%;
                }
            }
        }
    }
}
/*--  Media Styles  --*/
@media screen and (min-width: 768px){
    .home-silder-wrapper {
        .carousel-caption {
            top: 50%;
            left: 50%;
            width: 100%;
            max-width: 600px;
            @include translate(-50%, -50%);
        }
    }
}  

@media (min-width: 320px) and (max-width: 990px){
    .home-silder-wrapper {
        .carousel {
            .carousel-inner{
                .carousel-caption {
                    top: 42%;
                    left: 50%;
                    width: 80%;
                    max-width: 600px;
                    @include translate(-50%, -50%);
                    h2{
                        font-size: 30px;
                    }
                }
                img {
                    min-height: 100vh;
                    object-fit: cover;
                }
            }
            .carousel-control{
                &.right{
                    width: 10%;
                }
            }
        }
    }
}   

@media (min-width: 320px) and (max-width: 480px){
    .home-silder-wrapper {
        .carousel {
            .carousel-inner{
                .carousel-caption {
                    h2{
                        font-size: 25px;
                        padding-bottom: 35px;
                        &:after{
                            margin: 20px auto 0;
                        }
                    }
                    p{
                        font-size: 13px;
                    }
                }

            }
        }
    }
}  