.hebrew-arcticle{
    font-family: "montserrat-light",sans-serif;
    text-align: right !important;
    direction: rtl;
    > strong{
        text-align: right;
        &:after{
            right: -16px !important;
            left: auto !important;
        }
    }
}