/*--  Placeholder Color  --*/
@mixin placeholder-color($color, $font-size, $opacity){
    &::-webkit-input-placeholder {
        color    : $color;
        opacity  : $opacity; 
        font-size: $color;
    }
    &:-moz-placeholder {
        color    : $color;
        opacity  : $opacity; 
        font-size: $color;
    }
    &::-moz-placeholder {
        color    : $color;
        opacity  : $opacity; 
        font-size: $color;
    }
    &:-ms-input-placeholder {
        color    : $color;  
        opacity  : $opacity; 
        font-size: $color;
    }
}