.content-page-section{
    padding: 20px 40px;
    min-height: 100vh;
    background-color: rgba(0,0,0,0.5);
    .content-header{
        margin-bottom: 50px;
        > .arrow-left{
            transform: rotate(-180deg);
        }
        > span{
            color: #fff;
            font-size: 46px;
        }
        .arrow-right-section{
            color: #fff;
            font-size: 14px;
            &:hover{
                color: #fff;
                text-decoration: none;
            }
            .arrow-right{
                animation: arrow-right 1s infinite;
            }
        }
    }
    .profile-intro{
        position: relative;
        padding-right: 300px;
        .profile-image-wrapper{
            top: 0;
            right: 0;
            position: absolute;
            > img{
                width: 100%;
                max-width: 275px;
            }
        }
        .profile-content-wrapper{

        }
    }
}
@keyframes arrow-right {
    0%{
        transform: translateX(-50px);
        opacity: 1;
    }
    100%{
        transform: translateX(0px);
        opacity: 0;
    }
}