html,
body {
  width: 100%;
  height: 100%;
}

body {
  background: #0A212E;
  margin: 0px;
  overflow: hidden;
  animation: color-loop 18s infinite;
}

.waves {
  position: relative;
  width: 100%;
  min-height: 100vh;
  border-radius: 50%;
  -webkit-backface-visibility: hidden;
}

.wave1,.wave2,.wave3,.wave4{
  position: absolute;
  background: white;
  margin-left: -12px;
  margin-top: -12px;
  width: 50px;
  height: 50px;
  display: block;
  border-radius: 50%;
  -webkit-backface-visibility: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wave1{
  opacity:0;
  animation: wave-animate 4s 1s infinite ease-in-out;
}
.wave2{
  opacity:0;
  animation: wave-animate 4s 2s infinite ease-in-out;
}
.wave3{
  opacity:0;
  animation: wave-animate 4s 3s infinite ease-in-out;
}
.wave4{
  opacity:0;
  animation: wave-animate 4s 4s infinite ease-in-out;
}

@keyframes wave-animate {
  0% {
    transform: scale(0);
    opacity: 1;
    transform-origin: center;
  }
  100% {
    transform: scale(20);
    opacity: 0;
    transform-origin: center;
  }
}

@keyframes color-loop {
  0% {
    background: #2CAB5B;
  }
  25% {
    background: #FABC03;
  }
  50% {
    background: #ED4B40;
  }
  75% {
    background: #4286F3;
  }
  100% {
    background: #2CAB5B;
  }
}